@base :75;

@media screen and (min-width: 750px) {
    html {
        font-size: 75px !important;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 32px !important;
    }
}

body {
    margin: 0 auto;
    width: 750rem/@base;
}
a{
    text-decoration: none;
}
.container {
    width: 100%;

    // height: 1000rem/@base;
}

// .top {
//     width: 750rem/@base;
//     height: 35rem/@base;
//     position: fixed;
//     top: 0;
//     padding: 0 15rem/@base;

//     img {
//         width: 720rem/@base;

//     }

// }

/*
footer {
    width: 750rem/@base;
    height: 98rem/@base;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    // justify-content: center;


    a {
        color: #bcbcbc;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            width: 36rem/@base;
            height: 36rem/@base;
            background-size: 623rem/@base  !important;

        }

    }

    a:nth-child(4) {
        color: #59a6ef;
    }

    a:nth-child(1) div {
        background: url(./../images/订单/首页.png) no-repeat ;
        background-size: 36rem/@base  !important;
    }

    a:nth-child(2) div {
        background: url(./../images/首页/foot.gif) no-repeat -147rem/@base 0;


        
    }
  
    a:nth-child(3) div {
        background: url(./../images/首页/foot.gif) no-repeat -299rem/@base 0;
    }

    a:nth-child(4) div {
        background: url(./../images/订单/foot.gif) no-repeat -439rem/@base 0;
    }

    a:nth-child(5) div {
        background: url(./../images/首页/foot.gif) no-repeat -588rem/@base 0;
    }

    //悬停
    // a:nth-child(1):hover {
    //     color: #59a6ef;
    // }
    // a:nth-child(1):hover div {
    //     background: url(./../images/首页/foot.gif) no-repeat 0 0;

    // }


    // a:nth-child(2):hover {
    //     color: #59a6ef;
    // }

    // a:nth-child(2):hover div {
    //     background: url(./../images/分类/foot.gif) no-repeat -147rem/@base 0;

    // }

    // a:nth-child(3):hover {
    //     color: #59a6ef;
    // }

    // a:nth-child(3):hover div {
    //     background: url(./../images/食谱/foot.gif) no-repeat -299rem/@base 0;
    // }

    // a:nth-child(4):hover {
    //     color: #59a6ef;
    // }

    // a:nth-child(4):hover div {
    //     background: url(./../images/订单/foot.gif) no-repeat -439rem/@base 0;
    // }

    // a:nth-child(5):hover {
    //     color: #59a6ef;
    // }

    // a:nth-child(5):hover div {
    //     background: url(./../images/我的/foot.gif) no-repeat -588rem/@base 0;
    // }


}*/


//修改的
.bot {
    width: 750rem/@base;
    height: 98rem/@base;
    display: flex;
    background-color: #fff;
    border-top: 1rem/@base solid #e2e2e2;
    position: fixed;
    bottom: 0;
    z-index: 99;

    > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            margin-top: 21rem/@base;
            margin-bottom: 10.5rem/@base;
            width: 37rem/@base;
            height: 37rem/@base;
            background: url("../images/导航栏.png") no-repeat;
            background-size: 626rem/@base;
        }

        span {
            font-size: 22rem/@base;
            color: #c4c4c4;
            text-align: center;
            line-height: 22rem/@base;
        }
    }

    > div:nth-child(1) {
        div {
            background: url("../images/首页.png") no-repeat;
            background-size: 36rem/@base;
            background-position: 1.5rem/@base 1rem/@base;
            //background-position: 0 0;
        }


    }

    > div:nth-child(2) {
        div {
            background-position: -147rem/@base 0;
        }
    }

    > div:nth-child(3) {
        div {
            background-position: -300rem/@base 0;
        }
    }

    > div:nth-child(4) {
        div {
            background: url("../images/10图标.png") no-repeat;
            background-position: -236rem/@base -784rem/@base;
            background-size: 651rem/@base 1061.35rem/@base;
        }
        span {
            color: #5aa5f0;
        }
    }

    > div:nth-child(5) {
        div {
            background-position: -590rem/@base 0;
        }
    }
}